# Distribution / packaging

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# C Extensions
*.so

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing
tests/
test/
_test.py

# VSCODE
.vscode/